// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: url(../images/bg.jpg) no-repeat center/cover;
  min-height: 100vh;
}

#app .container {
  background:rgba(255,255,255,.8);
}

.logo {
  display: inline-block;
  max-width: 100px;
  margin-right: 20px;
}