<template>
    <div>
        <b-row>

        </b-row>

        <b-row>
            <b-col md="6" class="my-1">
                <b-form-group label-cols-sm="3" label="Filter by title" class="mb-0">
                    <b-input-group>
                        <b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>
            <b-col md="6" class="my-1 text-right" >
                <b-button variant="success" @click="showCreateModal($event.target)">Create</b-button>
            </b-col>
        </b-row>

        <div class="row justify-content-center">
            <b-table striped hover :items="items" :fields="fields"  :filter="filter">
                <template slot="empty" slot-scope="scope">
                    <h4>No data</h4>
                </template>

                <template slot="actions" slot-scope="row">
                    <b-button variant="warning" size="sm" @click="showUpdateModal(row.item, row.index, $event.target)" class="mr-1">
                        update
                    </b-button>

                    <b-button variant="danger" size="sm" @click="deleteItem(row.item.id)" class="mr-1">
                        delete
                    </b-button>
                </template>
            </b-table>

            <b-modal :id="updateModal.id" :title="updateModal.title" @ok="update">
                <b-form-input v-model="itemToUpdate.title"></b-form-input>
            </b-modal>

            <b-modal id="create-modal" title="Create hot-dog" @ok="create">
                <b-form-input v-model="title"></b-form-input>
            </b-modal>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                items: [],
                fields: ['id', 'title', 'created_at', 'actions'],
                updateModal: {
                    id: 'update-modal',
                    title: '',
                },
                itemToUpdate: {
                    id: null,
                    title: ''
                },
                title: '',
                filter: null,
            }
        },
        methods: {
            getList() {
                axios.get('/api/hot_dogs')
                    .then((response) => {
                        this.items = response.data
                    }).catch((error) => {

                    })
            },

            showUpdateModal(item, index, button) {
                this.itemToUpdate.id = item.id
                this.itemToUpdate.title = item.title

                this.updateModal.title = `${item.title}`
                this.$root.$emit('bv::show::modal', this.updateModal.id, button)
            },

            showCreateModal(button) {
                this.$root.$emit('bv::show::modal', 'create-modal', button)
            },

            update() {
                axios.put(`/api/hot_dogs/${this.itemToUpdate.id}`, {
                    title: this.itemToUpdate.title
                }).then(() => {
                    this.getList()
                }).catch((error) => {

                })
            },

            create() {
                axios.post('/api/hot_dogs', {
                    title: this.title
                }).then(() => {
                    this.getList()

                    this.title = ''
                }).catch((error) => {

                })
            },

            deleteItem(id) {
                axios.delete(`/api/hot_dogs/${id}`)
                    .then(() => {
                        this.getList()
                    }).catch((error) => {

                    })
            }
        },

        mounted() {
            this.getList()
        }
    }
</script>
